footer:not(.comment-meta) {
    background: $cyan;
    padding: 50px 0 0;

    @include media($mobile) {
        padding: 20px 0 0;
    }

    .logo {
        max-width: 125px;
        margin-bottom: 20px;
    }

    .three_col_section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;

        @include media($mobile) {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .column {
            color: $white;

            @include media($mobile) {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: center;
                -webkit-justify-content: center;
                align-items: center;
                -webkit-align-items: center;
            }


            h3 {
                @include popbold;
                font-size: 24px;
                display: inline-block;

                @include media($tablet) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 18px;

                @include media($tablet) {
                    font-size: 16px;
                }
            }

            ul {
                padding-left: 0;
                margin: 0;

                li {
                    margin-bottom: 10px;
                }

                a {
                    @include proxreg;
                    color: $white;
                    font-size: 18px;
                }
            }
        }
    }

    .copy {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
        color: rgba(255,255,255,.6);
        border-top: 1px solid rgba(255,255,255,.2);

        @include media($mobile) {
            margin-top: 0;
        }
    }
}

.social_media.footer {
    margin-top: 20px;
    a {
        border: 1px solid $white;
    }
}