.menu_wrap {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition:  all 1s ease-in-out;
    -o-transition:  all 1s ease-in-out;
    transition:  all 1s ease-in-out;

    @include media($tablet) {
        position: fixed;
        right: 0;
        left: 0;
        width: 100%;
        top: -100%;
        background: white;
        z-index: 996;
        border-top: 2px solid $darkCyan;
    }

    .menu-main-menu-container {

        ul {
            justify-content: flex-end;
            -webkit-justify-content: flex-end;

            @include media($tablet) {
                text-align: center;
                display: block;
                padding: 0;
                margin: 0;
            }

            li {
                padding: 0 1.5em;

                @include media($desktop) {
                    padding: 0 .7em;
                }

                @include media($tablet) {
                    padding: 0;
                    border-bottom: 1px solid;
                    border-color: rgba(9, 69, 75, .1);
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    color: $darkBlue;
                    font-size: 20px;
                    -webkit-transition: font-size 1s ease-in-out;
                    -moz-transition:  font-size 1s ease-in-out;
                    -o-transition:  font-size 1s ease-in-out;
                    transition:  font-size 1s ease-in-out;

                    @include media($desktop) {
                        font-size: 1.7rem;
                    }

                    @include media($tablet) {
                        padding: 20px 0;
                        display: block;
                    }

                    &:hover {
                        color: $darkCyan;
                    }
                }

            }
        }
    }
}

header {
    position: fixed;
    z-index: 999;
    background: $white;
    width: 100%;
    padding: 30px 0;
    color: $black;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    @include media($mobile) {
        padding: 10px 0;
    }

    .toggler {
        display: none;

        @include media($tablet) {
            display: block;
        }

        .mobile_menu_icon {
            width: 30px;
            height: 24px;
            float: right;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                position: absolute;
                height: 5px;
                width: 100%;
                background: $darkCyan;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 1px;
                }

                &:nth-child(2) {
                    top: 10px;
                }

                &:nth-child(3) {
                    top: 19px;
                }
            }

            &.open span {

                &:nth-child(1) {
                    top: 12px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }

                &:nth-child(3) {
                    top: 12px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }

            }
        }
    }

    .header_columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;

        @include media($mobile) {
            align-items: center;
            -webkit-align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .site-branding {
            @include span-columns(1.1);

            @include media($desktop) {
                @include span-columns(1.5);
            }

            img {
                max-width: 120px;
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
            }
        }

        .top {
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            margin-bottom: 50px;
            align-items: center;
            -webkit-align-items: center;

            @include media($tablet) {
                margin-bottom: 30px;
            }

            @include media($mobile) {
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $cyan;
                justify-content: space-between;
                -webkit-justify-content: space-between;
            }

            .button {
                -webkit-transition: padding 1s ease-in-out;
                -moz-transition:  padding 1s ease-in-out;
                -o-transition:  padding 1s ease-in-out;
                transition:  padding 1s ease-in-out;

                @include media($tablet) {
                    font-size: 16px;
                    padding: 15px 25px 10px;
                }

                @include media($mobile) {
                    padding: 15px 10px 10px;
                }
            }

            .phone_wrap {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                align-items: center;
                -webkit-align-items: center;
                margin-right: 20px;
            }

            span {

                img {
                    @include media($mobile) {
                        width: 20px;
                    }
                }
            }

            .facebook {
                width: 43px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                margin-right: 20px;

                @include media($tablet) {
                    width: 41px;
                }
            }

            h3 {

                margin: 0;
                padding-top: 8px;

                a {
                    @include oswald;
                    color: $darkBlue;
                    font-size: 28px;
                    -webkit-transition: all 1s ease-in-out;
                    -moz-transition:  all 1s ease-in-out;
                    -o-transition:  all 1s ease-in-out;
                    transition:  all 1s ease-in-out;

                    @include media($tablet) {
                        font-size: 20px;
                    }
                }
            }
        }

        .link_column {
            @include span-columns(10.9);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: center;
            -webkit-align-items: center;

            @include media($desktop) {
                @include span-columns(10.5);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                align-items: center;
                -webkit-align-items: center;
            }
        }
    }

    &.scroll {
        padding: 10px 0;

        .site-branding img {
            max-width: 75px;
        }

        .link_column .header_right.top {
            margin-bottom: 20px;
        }

        .header_columns {

            .top {
                margin-bottom: 15px;

                img {
                    -webkit-transition: all 1s ease-in-out;
                    -moz-transition:  all 1s ease-in-out;
                    -o-transition:  all 1s ease-in-out;
                    transition:  all 1s ease-in-out;
                    width: 20px;
                }

                a:not(.button) {
                    font-size: 20px;
                }

                .facebook {
                    width: 36px;
                }

                .button {
                    padding: 12px 25px 7px;
                }
            }

            .bottom {
                a {
                    font-size: 16px;
                }
            }
        }


    }
}