.one_column {
    padding: 80px 20vw;

    @include media($desktop) {
        padding: 80px 10vw;
    }

    @include media($tablet) {
        padding: 40px 10vw;
    }

    p {
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 20px;

        strong {
            @include proxsemibold;
        }
    }

    a {
        @include proxsemibold;
    }
}