// primary styles 

$cyan: #477aa0;
$darkCyan: #355b77;
$blue :#e8ecf5;
$black: #0c0c0c;
$white: #ffffff;
$gray: #cbcbc9;
$darkBlue: #16373b;
$darkGray: #2a2a2a;
$lightGray: #f5f5f5;
$lightBlue: #e8edf4;


$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;